<form [formGroup]="registerForm" (ngSubmit)=" register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">I am a: </label>
        <label class="radio-inline">
            <input type="radio" value='male' formControlName='gender'> Male
        </label>
        <label class="radio-inline">
            <input type="radio" value='female' formControlName='gender' class="ml-3"> Female
        </label>
    </div>
    <app-input [label]="'Username'" [formControl]="registerForm.controls['username']"></app-input>
    <app-input [label]="'Known As'" [formControl]="registerForm.controls['knownAs']"></app-input>
    <app-input-date [label]="'Date Of Birth'" [maxDate]='maxDate' [formControl]="registerForm.controls['dateOfBirth']"></app-input-date>
    <app-input [label]="'City'" [formControl]="registerForm.controls['city']"></app-input>
    <app-input [label]="'Country'" [formControl]="registerForm.controls['country']"></app-input>
    <app-input [label]="'Password'" [formControl]="registerForm.controls['password']"></app-input>
    <app-input [label]="'Confirm Password'" [formControl]="registerForm.controls['confirmPassword']"></app-input>

    <p>{{registerForm.status}}</p>
    <p>{{registerForm.errors | json}}</p>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <!-- <button  [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button> -->
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>

    

</form>
<div class="row mt-5" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
</div>


